# MyAnimeList API Configuration
# Get your client ID from: https://myanimelist.net/apiconfig
MAL_CLIENT_ID=your_mal_client_id_here
MAL_REDIRECT_URI=http://localhost:12344/api/anime/auth

# Data paths (Docker container paths)
DATA_PATH=/app/data
LOGS_PATH=/app/logs

CRON_SECRET=your_cron_secret_key

# optional; ideal to force cache busting
BUILD_VERSION=1.0.0